* {
    margin: 0;
    padding: 0; /*Обнуление стилей браузера*/
    border: 0;
    box-sizing: border-box;
    font-size: 0;
}
span {
    vertical-align: middle;
    display: inline-block;
}
.allBoard {
    border: black solid;
    width: fit-content;
}
.cells {
    border: black solid 1px;
    width: 100px;
    height: 100px;
}
.black {
    background-color: black;
}

.ABC {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.extreme {
    height: 100px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}
.empty {
    height: 50px;
    width: 50px;
}
.row {
    height: 100px;
}
.letterSize {
    height: 50px;
}

